.star-rating {
    padding-top: 50px;
}

.star {
    font-size: 50px;
    margin: 5px;
    cursor: pointer;
    stroke-width: 15px;
}

.active {
    color: #fad902;
    stroke: #f1cb1e;
}

.inactive {
    fill: transparent;
    stroke: #171717;
}