.random-color-container {
    width: 100vw;
    height: 100vh;
}

.btn {
    all: unset;
    cursor: pointer;
    border: 3px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin-top: 50px;

    &:hover {
        background-color: rgba(255, 255, 255, 0.3);
    }

    &:not(:last-child) {
        margin-right: 20px;
    }
}